.header {
  display: flex;
  /* background-color: var(--color-primary); */
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
}

.customNav {
  margin: 1.5rem 0.5rem;
}

.customNav > * {
  margin: 0rem 0.5rem;
}
