.card {
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow: hidden;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  transition: all 0.2s;
}

.card:hover {
  scale: 1.05;
}

.card img {
  max-width: 30rem;
  vertical-align: middle;
  border-radius: 0.5rem;
}

.card-body {
  padding: 1rem;
}

.card-rating {
  background-color: transparent;
  position: absolute;
  scale: 0.9;
  top: 1rem;
  left: 1rem;
}

.card-link {
  position: relative;
}
