.backdrop {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: contain;
  background-size: cover;
  background-position: center center;
}

.backdrop::after {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 1));

}

.no-backdrop-image {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 1),  rgba(0, 0, 0, 1)), linear-gradient(
    to right,
    rgba(89.02%, 89.02%, 89.02%, 1) 150px,
    rgba(89.02%, 89.02%, 89.02%, 0.84) 100%
  ) ;
}

.movie-info {
  display: flex;
  max-width: 140rem;
  padding: 3rem 4rem;
}

.poster {
  display: flex;
  flex-shrink: 0;
  border-radius: 0.5rem;
  overflow: hidden;
}

.poster img {
  min-height: 45rem;
  max-width: 30rem;
  background-color: #dbdbdb;
}

.info-facts {
  display: flex;
  width: 100%;
}

.info-facts p:not(:first-child) {
  padding-left: 1rem;
}

.info-facts p::before {
  padding-right: 0.2rem;
}

.info-facts p:not(:first-child)::before {
  content: "\2022";
}

.info-year {
  font-weight: 200;
}

.info-body {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: center;
  padding-left: 4rem;
}

.info-actions {
  display: inline-flex;
  align-items: center;
}

.info-body > *:not(:first-child) {
  margin-bottom: 1.6rem;
}

.info-body h1, h2, h3, p {
  color: #fff;
}

.info-overview {
  width: 100%;
}