.error-card {
  border-radius: 2rem;
  overflow: hidden;
  width: 100%;
  transition: all 0.2ms;
}

.error-card > * {
  padding: 1.6rem 4rem;
}

.error-header {
  background-color: var(--color-rating-low);
}

.error-header h3 {
  color: #fff;
}

.error-body {
  display: flex;
  background-color:var(--color-grey-light-2);
  padding-bottom: 3rem;
}
