.register-container {
    height: 90%;
    position: relative;
    width: 60%;
    margin: auto;
}

.register-container h2,h3,h4,h5 {
    color:var(--color-grey-dark-2);
}

.register-container p {
    color:var(--color-grey-dark-1)
}

form {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form > * {
    margin-bottom: 3rem;
}
